---
---

@import "{{ site.theme }}";

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-radius: 3px;
    display: flex;
    background: linear-gradient(to right, #155799, #159957);
  }
.navbar li a {
    flex: 1;
    display: block;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
  }
.navbar li a:hover{
    filter: brightness(0.85);
  }

.footer {
    flex-shrink: 0;
    background: linear-gradient(to right, #155799, #159957);
    margin: 0;
    padding: 0;
}
